$font-size: 1rem;
$font-color: red;

html {
  font-size: $font-size;
  color: $font-color;
}

body  {
	padding: 5%;
}

h1  {
	color: teal;
}

h4 {
	color: black;
	text-decoration: dashed;
}

.custom-select-options {
	border: 1px solid blue;
	padding: 10px;
}